* {
    		box-sizing: border-box;
    	}

body {
    background-image: url(img/helen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    	}

.box {
	width: 12vw;
	height: 12vh;
	display: inline-block;
	margin: 1px;
	background-color: white; 
			}

.box {
	cursor: pointer;
	-webkit-transition: top 1.2s linear;
	transition: top 1.2s linear;	
}

.box div {
	position: absolute;
	top: auto;
	left: 0;
	background: #4F9CC7;
	-webkit-transition: -webkit-transform 1.4s ease-in, background 0.3s ease-in;
	transition: transform 1.4s ease-in, background 0.3s ease-in;
}


