body.backgroundImage {
	background-image: url("img/pattern.png");
	background-repeat: repeat;
}

.circle {
	width: 300px;
	height: 300px;
	background-color: black;
	border-radius: 50%;
	display: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 30vh;
}

.circle.vLinearGradient {
	background: linear-gradient(#2196f3, #f44336);
}

.circle.hLinearGradient {
	background: linear-gradient(to right, #FF5F6D, #ffc371);
}

.circle.dLinearGradient {
	background: linear-gradient(to bottom right, #16BFFD, #CB3066);
}

.circle.threeLinearGradient {
	background: linear-gradient(#3A1C71, #D76D77, #FFAF7B);
}

.circle.repeatLinearGradient {
	background: repeating-linear-gradient(#3A1C71, #D76D77 10%, #FFAF7B 20%);
}

.circle.radialGradient {
	background: radial-gradient(#c0392b, #8e44ad);
}

.circle.radialGradient2 {
	background: radial-gradient(#FEAC5E 5%, #C779D0 15%, #4BC0C8 60%);
}

@keyframes zigZag {
	0% { transform: translate(10vw, 10vh); }
	25% { transform: translate(-20vw, -10vh); }
	50% { transform: translate(40vw, 20vh); }
	75% { transform: translate(50vw, 10vh); }
	100% { transform: translate(-5vw, 15vh); }
}

.circle.zigZag {
	animation: zigZag 3s linear;
}

@keyframes pulse {
	0% { background-color: grey; }	
 	100% { background-color: pink; }
}

.circle.pulse {
	animation: pulse 1s infinite;
}

.circle.slideLeft {
	transform: translateX(500px);
	transition: all 2s linear;
}

@keyframes upDown {
	0% { transform: translateY(500px); }		
 	50% { transform: translateY(-500px); }
 	100% { transform: translateY(500px); }
}

.circle.upDown {
	animation: upDown 4s infinite;
}
